html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: 	#3D4242; 
    font-size:16px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:3rem; 
    color: #777;
}

section.cats-list {
    width:100%;
    color: white;
    overflow: hidden;
    border:5px solid #aa7ecd;
    background-color:  #aa7ecd;
}

section.cats {
    width:30%;
    border: 5px solid #aa7ecd;
    min-height:30rem;
    margin:1rem 0; 

}

article.catArticle {
    width:20%;
    float:left;
}

article.catArticle img {
    display:block; 
    width:auto;
    max-width:100%; 
    margin:0 auto;
    padding:0.5rem; 
    height:10rem; 
}


.catName {
    text-align: center; 
    font-size:2rem; 
    margin:0.5rem; 
}

.catImage, .catImageSelected {
    width:100%; 
    cursor: pointer;
}

.catClicks, .catClicksSelected {
    text-align: center;
    margin: 20px 0;
    font-size:1.5rem;
    color:grey;  
}