html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: 	#3D4242; 
    font-size:16px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:3rem; 
    color: #777;
}

section {
    width:100%;
    color: #aa7ecd;
}

article {
    width:20%;
    float:left;
}


.catName {
    text-align: center; 
    font-size:2rem; 
}

#catImage{
    border: 5px solid #aa7ecd;
    width:100%; 
    cursor: pointer;
}

.catClicks {
    text-align: center;
    margin: 20px 0;
    font-size:1.5rem;
    color:grey;  
}